/*styling for habit text*/
#habit-text {
    margin: 30px 0;
}

/*Styling for Add new habit button*/
.add-habit-button {
    display: block;
    margin: auto;
    background-color: lightgrey;
    border-radius: 20px;
    padding: 10px;
}

/*Styling for the add habit input*/
.add-habit-div-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-habit-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
    border-radius: 20px;
    padding: 5px;
    margin: 20px 0 0 0;
}

@media screen and (min-width: 1024px) {
    .add-habit-div {
        width: 60%;
    }
}

.add-habit-div input, label, select, button {
    margin: 10px;
}

.add-habit-div input, select {
    border-radius: 20px;
    padding: 5px;
}

#text {
    width: 50%;
}

#frequency {
    text-align: right;
    width: 10%;
    margin-right: 0;
}

#unit {
    margin-left: 0;
}

/*styling for habits added*/
.habit-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px;
}

.habit-item {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Distribute items evenly */
    gap: 10px; /* Optional: space between items */
    margin: 10px 10px;
    padding: 10px;
    background-color: hsla(0, 0%, 98%, 1);
    border-radius: 20px;
}

@media screen and (min-width: 1024px) {
    .habit-items {
        width: 80%;
        margin: 30px auto;

    }
}

.habit-item i {
    margin-right: 10px;
}

.habit-item p {
    margin: 0; flex-grow: 1; /* Allow paragraph to take available space */
}

/*Styling for ViewWeekly*/
table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.table th, td {
    border: 1px solid;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.icons-div {
    display: flex;
    align-items: center;
    justify-content: center;
}