/*Made by Antoinette*/
/*Trying to style the AddToDo component*/
.button{
    border: none;
    outline: none;
    padding: 10px 40px;
    background: #b8caf2;
    font-size: 15px;
    white-space: nowrap;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.button:hover{
    cursor: pointer;
}

.custom-hstack{
    border-radius: 30px;
}


.form {
    align-items: center;
    background: #edeef0;
}

.input {
    flex: 1;
    outline: none; 
    background: #edeef0;
    padding: 8px 120px 10px 20px;
    align-items: center;
    margin-bottom: 25px;
    justify-content: space-between;
    margin-top: 25px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}





