/*Made by Antoinette*/
/*Trying to style the AddToDo component*/
.button{
    border: none;
    outline: none;
    padding: 8px 8px;
    background: #b8caf2;
    font-size: 14px;
    border-radius: 10px;
    white-space: nowrap;
    text-align: center;
}

.button:hover{
    cursor: pointer;
}

.custom-hstack{
    border-radius: 30px;
}

.form{
    border-radius: 10px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}



