.button{
    border: none;
    outline: none;
    padding: 10px 40px;
    background: #b8caf2;
    font-size: 15px;
    white-space: nowrap;
    text-align: center;
    border-radius: 20px;
}


.label{
    padding: 10px 40px;
    background: #b8caf2;
    font-size: 15px;
    white-space: nowrap;
    text-align: center;
    border-radius: 20px;


}



.input{
    align-items: center;
    background: white;
    outline: none; 
    margin-bottom: 25px;
    justify-content: space-between;
    margin-top: 25px;
    padding: 16px 180px 16px 20px;
    border-radius: 20px;
}


.forgotPassword{
    padding: 10px 40px;
    background: #b8caf2;
    font-size: 15px;
    white-space: nowrap;
    text-align: center;
    border-radius: 20px;
}


.login{
    padding: 10px 40px;
    background: #b8caf2;
    font-size: 15px;
    white-space: nowrap;
    text-align: center;
    border-radius: 20px;
}


.orSignUpUsing{
    background: #b8caf2;
    font-size: 15px;
    white-space: nowrap;
    text-align: center;
    border-radius: 20px;   
}


.singUp{
    padding: 10px 40px;
    background: #b8caf2;
    font-size: 15px;
    white-space: nowrap;
    text-align: center;
    border-radius: 20px;
}