form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

input {
    margin: 0 auto 20px auto;
    padding: 5px;
    border-radius: 10px;
    width: 70%;
}

@media screen and (min-width: 1024px) {
    input {
        width: 40%;
    }   
}
